/* JoinChat Specific CSS */
@media (max-width: 468px) {
    .join-chat-container.glass-panel {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        height: 100vh;
        justify-content: center;
    }
}

.join-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-size: 0.85rem;
    color: var(--text-muted);
}



.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
    color: var(--text-muted);
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border-color);
}

.divider span {
    padding: 0 1rem;
}

/* Scanner Wrapper */
.scanner-section {
    display: flex; 
    flex-direction: column;
}

.qr-scanner-wrapper {
    position: relative;
    height: 50vh;
    background: rgba(221, 221, 221, 0.5);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

#qr-reader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none !important;
    background: #1a1a1a;
    height: 100%;
}

#qr-reader img[alt="Info icon"]{
    display: none !important;
}

#qr-reader__dashboard {
    width: 100% !important;
    padding: 20px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qr-reader img[alt="Camera based scan"] {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 10px;
    filter: invert(50%) brightness(100%);
}

#qr-reader__dashboard_section_csr span {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}

#qr-reader button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: filter 0.2s ease;
    margin-bottom:10px ;
}

#qr-reader button:hover {
    filter: brightness(1.1);
}